/.vscode
/compiler.zip
/compilify.exe
/error.txt
/exceptionHandle.md
/homework1.zip
/homework2.zip
/homework3.zip
/output.txt
/parser.puml
/stdoutput.txt
/sysy_explanation.md
/testfile.txt
/thinking.md